.person-card { }

.muted { -fx-opacity: 0.8; }
.date { -fx-font-size: 12px; }

.participation-box {
    -fx-arc-height: 6;
    -fx-arc-width: 6;
    -fx-stroke: -fx-text-base-color;
    -fx-stroke-width: 1;
    -fx-fill: transparent;
    -fx-min-width: 22;
    -fx-min-height: 22;
}

.date-mini {
    -fx-font-size: 10px;
    -fx-opacity: 0.9;
}
